{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="show">
    <p>
        Welcome to this demo on how we can collect information updated by several institutions and monitor it.<br>
        Please note that the real project will have user account control and users will be restricted to
        only the information that concerns them. <br>Also note that the calculations on this demo may be skewed
        as we are not using a structured database and caches haven't been cleared thereby leaving in all the figures
        inputed during the testing of this demo. <br>
        Thank you for your understanding.<br>
        P.S The smtp servers were down as at the time of completing this demo so we couldn't incoporate an email
        alert system but be assured that the paid version for the service gives better access and better reliability.<br>
        Signed...Development team
    </p>
</div>
{% endblock %}